
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Inter:wght@100..900&family=Orbitron:wght@400..900&display=swap');

*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
   
}

/*header*/

header {
    width: 100%;
    cursor: pointer;
    color: #494949;
     
}

.nav-superior { 
    width: 100%;
    background-color: #A3C8A5;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    font-family: "Inter", sans-serif;
    
}

.nav-izquierdo {
    display: flex;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;

    a {
        margin: 0 .8rem;
    }
}

.navbar {
    display: flex;
    align-items: center;
    gap: 0.9rem;
    padding: 0.5rem;
    margin-left: .5rem;
    font-size: 0.8rem;
}

.espacio-trabajo {
    display: flex;
    align-items: center;

    p {
        padding: 0 .7rem;
        cursor: pointer;
      
    }

    i {
        color: #5A5A5A;
        font-size: .6rem;
    }
}

.espacio-reciente {
    display: flex;
    align-items: center;

    p {
        padding: 0 .4rem;
        cursor: pointer;
    }

    i {
        color: #5A5A5A;
        font-size: .6rem;
    }
}

.espacio-marcado {
    display: flex;
    align-items: center;

    p {
        padding: 0 .3rem;
        cursor: pointer;
    }

    i {
        color: #5A5A5A;
        font-size: .6rem;
    }

}

.nav-superior button {
    cursor: pointer;
    color: #ffffff;
    background-color: #369A41;
    border: none;
    border-radius: 5px;
    width: 65px;
    height: 30px;
    margin-left: 1.5rem;
    transition: all.3s;

}

.nav-inferior button:hover,
.nav-superior button:hover {
    transform: scale(.9);
    background: #678e69;
}

.nav-superior button:active,
.nav-inferior button:active {
    transform: scale(1);
}


.nav-derecho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  
   
} 

.buscador {
    display: flex;
    align-items: center;
    
}

.nav-superior .nav-derecho input {
    width: 170px;
    height: 30px;
    border-radius: 10px;
    font-size: .8rem;
    border: none;
    padding-left: 5px;
}    
    
.buscador i {   
        position: absolute;
        right: 210px;
        font-size: 1.3rem;

}
   


.nav-derecho .config {
    display: flex;
    align-items: center;
     gap: 15px;

    img { 
     width: 1.2rem;
     height: 1.2rem;
     margin: 1rem 0;
    }
}
   

.nav-derecho .user-activo img{
    width: 35px;
    height: 35px;
    margin: 35px 0;
    align-items: center;
    text-align: center;
}



/*header inferior*/

.nav-inferior {
    margin-left: 75px;
    background: #D9D9D980;
    width: calc(100%-75px);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    cursor: pointer;
}

.nav-inferior-der {
    display: flex;
    align-items: center;
    gap: 17px;
    font-size: 0.8rem;
    margin-right: 10px;

}

.nav-inferior .nav-inferior-izq {
    display: flex;
    justify-content: space-between;
    gap: 17px;
    align-items: center;
    margin-left: 25px;
    color: #5A5A5A;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Inter", sans-serif;
}

.nav-inferior-der .avatars{
    display: flex;
    align-items: center;
    gap: -23px;
    margin: 0 20px;
      
    img{
        width: 25px;
        height: 25px;
    }
}



.nav-inferior button {
    
        cursor: pointer;
        color: #ffffff;
        background: #90AF92;
        border: none;
        border-radius: 5px;
        width: 100px;
        height: 30px;
        margin-left: 0.5rem;
        transition: all.3s;
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 0.7rem;
        padding-left: 5px;

        i{
            font-size: 1rem;
        }
   
}

.bx-dots-horizontal-rounded {
    font-size: 1.3rem;
}


/* menu lateral*/

main{
   margin-left: 75px;
   color: #FFFFFF;
   display: flex;

}


aside {
   background:#A3C8A5; 
   width: 75px;
   height: auto;
   font-size: 1rem;
   text-align: center;
   position: absolute;
   font-family: "Inter", sans-serif;
   left: 0;
   top: 75px;
}

.opciones {
    margin-top: 40px;
}

ul{
    line-height: 3;
    text-align: center;
    padding: 20px 0;
    align-items: center;
       
}


ul li {
    width: 64px;
    height: 40px;
    font-size: 1rem;
    border: none;
    margin: 30px auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
    
}

ul li a {

    display: flex;
    align-items: center;
    text-align: center;
    gap: 35px;
    flex-wrap: nowrap;
    color: transparent;
}


ul li:hover {
background: #90af92e6;
height: 40px;


}


li img,
li .bx {
   width: 1.3rem; 
   font-size: 1.7rem;
   align-items: center;
   margin-left: 15px;
   color: #FFFFFF;
   text-align: center;
}



.parrafo{
  
    display: none;
    margin-top: 25px;
    font-size: 13px;
}

 

.perfil {
    display: flex;
    align-items: center;
    padding: 40px 0 0 5px;
    justify-content: space-evenly;
    display: none;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.perfil h2 {
    font-size: 0.9rem;
    
}


.perfil .usuario {
    width: 50px;
    width: 50px;
}

 
.flecha {
    width: 38px;
    height: 38px;
    position: absolute;
    right: -8px;
    top: 10px;
    border-radius: 100%;
    border: none;
    background: transparent;
    
}

.opciones {
    list-style: none;

}

/* tablero */

.tablero {
    width: 100%;
    height: 100%;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: left;

}


.default,
.columna {
    background: #90AF92;
    width: 26%;
    height: auto;
    margin: 35px 17px;
    border-radius: 10px;
    padding: 15px 10px;
    
}

.add-lista button {
    margin: 35px 0;
    width: 27px;
    width: 27px;
    border: none;
    border-radius: 7px;
    background: transparent;
}

.add-lista button:hover {
    transform: scale(0.9);
    cursor: pointer;
}

.add-lista button img {
    width: 27px;
    width: 27px;
    
}

.columna h3 {
    font-size: 1rem;
    text-align: center;
}

.default .pie, 
.columna .pie {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    margin: 8px 5px;
}

.pie button {
    background: transparent;
    border: none;
    color: #FFFFFF;
    padding: 3px;
}

.pie button:hover {
    background: #678e69;
    cursor: pointer;
}

.columna .tarjeta {
    width: 97%;
    height: 75px;
    background: #D9E9DA;
    color: #5A5A5A;
    padding: 9px;
    margin: 8px auto;
    border-radius: 10px;
    font-size: 0.9rem;
}


.columna .tarjetas .iconos {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    
        
}



/* clases imaginarias creadas para js */

.body__move {
    margin-left: 215px;

   
}

.menu__lateral {
    width: 215px;
    position: absolute;
    left: 0;
   

    .nav-inferior {
        width: calc(100%-215px);

    }
    
   .perfil {
    display: flex;
 
   
   }

   .flecha {
    transform: rotatez(90deg);
    right: -15px;
    top: -3px;

   }

   ul {
    margin-bottom: 35px;
   }

   ul li a {

    display: flex;
    align-items: center;
    color: #FFFFFF;

 }

  ul li {
    background: #90af92c7;
    width: 200px;
    margin: 10px auto;
    align-items: center;

  }

  ul li:hover {
    background: #678e69;
  
  }


   .parrafo {
    
    display: flex;
    margin: -20px 0 -5px 10px;
    text-align: left;
   }

   .final {
    margin-top: 50px;
   }
    
  

   li img,
   li .bx {
    margin:auto 9px; 
    text-align: center;
 }

 .opciones {
    margin-top: 30px;
 }

}
