
  <main id="body">
    <aside class="menu-lateral" id="aside-container">
      <div class="perfil">
        <img class="usuario" src="../../../public/images/perfil.png" alt="perfil" />
        <h2>Espacio de <br>León Otero Rivas</h2>
      </div>

      <div class="flecha">
        <button class="desplegar" id="boton">
          <img class="flecha" src="../../../public/images/go.png" alt="flecha" />
        </button>
      </div>

      <div class="opciones">
        <p class="parrafo">Planificación</p>

        <ul>
          <li>
            <a>
              <i class="bx bx-plus" title="Crear Reporte"></i>Crear Reporte</a>
            
          </li>

          <li>
            <a href="#"
              ><img src="../../../public/images/tabla.png" title="Tablero" />Tablero</a
            >
          </li>
          <li>
            <a>
              <img
                src="../../../public/images/incidencias.png"
                title="Incidencias">
              Incidencias</a>
            
          </li>
          <li>
            <a>
              <i class="bx bx-trending-up" title="Time Line"></i>Time Line</a>
            
          </li>
          <li>
            <a href="#"><i class="bx bx-file"></i>Work Plan</a>
          </li>
          <li>
            <a href="#"><i class="bx bx-user-plus"></i>Miembros</a>
          </li>
        </ul>

        <p>Vistas de mi espacio de trabajo</p>

        <ul>
          <li>
            <a href="#"
              ><i class="bx bx-calendar" title="Calendario"></i>Calendario</a
            >
          </li>
          <li>
            <a href="#"><i class="bx bx-list-ul" title="Tabla"></i>Tabla</a>
          </li>
        </ul>

        <p class="parrafo">Desarrollo</p>

        <ul>
          <li>
            <a href="#"
              ><i class="bx bx-expand-horizontal" title="Código"></i>Código</a
            >
          </li>
        </ul>

        <ul class="final">
          <li>
            <a href="#"><i class="bx bx-cog" title="Ajustes"></i>Ajustes</a>
          </li>
          <li>
            <a href="#"
              ><i class="bx bx-exit" title="Cerrar Sesión"></i>Cerrar
              Sesión</a
            >
          </li>
        </ul>
      </div>
    </aside>
    <script src="../../../public/javascript/lateral.js"></script>
    
  </main>
   
 
