#aside-container {
    width: 60px;
    background: $color-principal;
    margin-top: -60px;

    .menu-lateral {
        color: #FFFFFF;
        display: flex;
        width: 60px;
        height: 100vh;
        position: relative;
        transition: all .3s;

        .flecha-container {
            position: absolute;
            top: 41px;
            left: 40px;
            z-index: 999;
            transition: all .3s;

            .desplegar {
                background: transparent;
                border: none;

                .flecha {
                    width: 38px;
                    height: 38px;
                    cursor: pointer;
                    transition: all .3s;
                }
            }
        }


        .aside {
            font-size: 1rem;
            text-align: center;
            position: absolute;
            left: 0px;
            top: -51px;
            width: 60px;
            overflow: hidden;

            .perfil {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                color: #FFFFFF;
                opacity: 0;
                transition: all .3s;
                margin-top: 55px;
                width: 180px;

                .usuario-img {
                    width: 50px;
                    width: 50px;
                }

                .usuario-nombre {
                    display: flex;
                    flex-direction: column;

                    p {
                        font-size: 0.7rem;
                        text-align: start;
                    }

                    .nombre {
                        font-size: .9rem;
                    }
                }

            }

            .opciones {
                margin-top: 0px;
                margin-left: 96px;
                background: $color-principal;

                ul {
                    text-align: center;
                    padding: 10px 0;
                    align-items: center;
                    display: flex;
                    flex-direction: column;

                    li {
                        width: 200px;
                        height: 30px;
                        border: none;
                        margin: 1px 0;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        transition: all .3s;

                        a {
                            display: flex;
                            gap: 35px;
                            text-align: center;
                            color: #ffffff;

                            img {
                                width: 1rem;
                                margin-left: 26px;
                            }

                            .bx {
                                font-size: 1.5rem;
                                align-items: center;
                                margin-left: 22px;
                                color: #FFFFFF;

                            }
                        }

                    }

                    li:hover {
                        background: #90af92e6;
                    }

                }

                .parrafo {
                    margin-top: 10px;
                    margin-left: -75px;
                    font-size: .9em;
                    opacity: 0;
                    transition: all .3s;
                }

                .parrafo-vistas {
                    font-size: .9em;
                    text-align: start;
                    margin-left: -75px;
                    width: 180px;
                    opacity: 0;
                    transition: all .3s;
                }

                .parrafo-desarrollo {
                    text-align: start;
                    font-size: .9em;
                    margin-left: -75px;
                    opacity: 0;
                    transition: all .3s;
                }
                .final{
                    margin-top: -3px;
                }
            }
        }
    }



    /* Despliegue del menu lateral */

    .menu-move {
        width: 200px;
        background-color: $color-principal;
        .flecha-container {
            transform: translateX(140px);
            .desplegar {
                .flecha {
                    transform: rotate(180deg);
                }
            }
        }
        .aside {
            overflow: visible;
            .perfil {
                opacity: 1;
                margin-left: 5px;
                width: 180px;
                p {
                    font-size: .9rem;
                    span {
                        font-size: 1rem;
                        font-weight: 600;
                    }
                }
            }
            .opciones {
                ul {
                    li {
                        background-color: #90AF9259;
                    }
                }
                .parrafo {
                    opacity: 1;
                }
                .parrafo-vistas {
                    opacity: 1;
                    width: 180px;
                }
                .parrafo-desarrollo {
                    opacity: 1;
                }

            }
        }
    }


}