<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/styles/styles.css">
    <title>Calendario</title>
</head>
<body>
    <div class="nav-calendario">
        <div class="nav-calendario-izq">
            <h3>Calendario</h3>
            <input type="text" placeholder="Buscar...">
            <button class="dropdown">Opciones 1</button>
            <button class="dropdown">Opciones 2</button>
            <button class="dropdown">Opciones 3</button>
            <button class="crear-evento">+</button>
        </div>
        <div class="nav-calendario-der">
            <button class="mes-control">←</button>
            <span class="mes-indicador">Agosto 2024</span>
            <button class="mes-control">→</button>
            <button class="boton-extra">Botón 1</button>
            <button class="boton-extra">Botón 2</button>
            <button class="boton-extra">Botón 3</button>
            <button class="dropdown">Más opciones</button>
        </div>
    </div>
</body>
</html>