<header>

    <div class="nav-superior">
        <div class="nav-izquierdo">
            <div class="nav-logo">
                <a href="#">
                    <img src="../../public/images/grid.svg" alt="icon-menu">
                </a>
                <a href="./index.html">
                    <img src="../../public/images/Logotipo.png" alt="logo-groovy">
                </a>
            </div>

            <nav class="navbar">
                <div class="espacio-trabajo">
                    <p>Espacio de trabajo</p>
                    <i class='bx bxs-down-arrow'></i>
                </div>
                <div class="espacio-reciente">
                    <p>Reciente</p>
                    <i class='bx bxs-down-arrow'></i>
                </div>
                <div class="espacio-marcado">
                    <p>Marcado</p>
                    <i class='bx bxs-down-arrow'></i>
                </div>
                <button>Crear</button>
            </nav>
        </div>

        <div class="nav-derecho">
            <div class="buscador">
                <input placeholder="Buscar" type="text">
                <img src="../../public/images/lupa.svg" alt="">
            </div>

            <div class="config">
                <a href="#">
                    <img title="Notificaciones" src="../../public/images/Bell.svg" alt="icono-notificaciones">
                </a>
                <a href="#">
                    <img title="Configuraciones" src="../../public/images/Settings.svg" alt="icono-configuraciones">
                </a>
                <a href="#">
                    <img title="Ayuda" src="../../public/images/help.svg" alt="icono-ayuda">
                </a>
            </div>

            <div class="user-activo">
                <img title="Natanael" src="../../public/images/user-img.jpg" alt="user-img">
            </div>
        </div>
    </div>

    <div class="nav-inferior">

        <div class="nav-inferior-izq">
            <p>Grovy gestor de incidencias!</p>
            <i id="btn-star" class='bx bxs-star'></i>
            
            <button>
                <img src="../../public/images/tabla.png" alt="">
                Tablero
                <i class='bx bxs-down-arrow'></i>
            </button>
        </div>

        <div class="nav-inferior-der">
            <i class='bx bxs-rocket'></i>
            <i class='bx bxs-bolt'></i>
            <i class='bx bx-filter'></i>
            <p>Filtros</p>
            <i class='bx bxs-down-arrow'></i>
            <div class="avatars">
                <img src="../../public/images/user-1-img.jpg" alt="">
                <img src="../../public/images/user-img.jpg" alt="">
                <img src="../../public/images/user-2.JPG" alt="">
            </div>
            <button class="btn-compartir">
                Compartir
            </button>
        </div>

    </div>
</header>