@charset "UTF-8";
header {
  width: 100vw;
  color: #494949; }
  header .nav-superior {
    background-color: #A3C8A5;
    padding: .4rem 0.5rem;
    display: flex;
    justify-content: space-between; }
    header .nav-superior .nav-izquierdo {
      display: flex;
      align-items: center; }
      header .nav-superior .nav-izquierdo .nav-logo {
        display: flex;
        align-items: center; }
        header .nav-superior .nav-izquierdo .nav-logo a {
          margin: 0 1rem; }
      header .nav-superior .nav-izquierdo .navbar {
        display: flex;
        align-items: center;
        gap: .5rem;
        padding: 0.5rem;
        margin-left: 2rem; }
        header .nav-superior .nav-izquierdo .navbar .espacio-trabajo {
          display: flex;
          align-items: center; }
          header .nav-superior .nav-izquierdo .navbar .espacio-trabajo p {
            padding: 0 .3rem;
            cursor: pointer; }
          header .nav-superior .nav-izquierdo .navbar .espacio-trabajo i {
            color: #5A5A5A;
            font-size: .6rem; }
        header .nav-superior .nav-izquierdo .navbar .espacio-reciente {
          display: flex;
          align-items: center; }
          header .nav-superior .nav-izquierdo .navbar .espacio-reciente p {
            padding: 0 .4rem;
            cursor: pointer; }
          header .nav-superior .nav-izquierdo .navbar .espacio-reciente i {
            color: #5A5A5A;
            font-size: .6rem; }
        header .nav-superior .nav-izquierdo .navbar .espacio-marcado {
          display: flex;
          align-items: center; }
          header .nav-superior .nav-izquierdo .navbar .espacio-marcado p {
            padding: 0 .3rem;
            cursor: pointer; }
          header .nav-superior .nav-izquierdo .navbar .espacio-marcado i {
            color: #5A5A5A;
            font-size: .6rem; }
        header .nav-superior .nav-izquierdo .navbar button {
          cursor: pointer;
          color: #ffffff;
          background-color: #369A41;
          border: none;
          border-radius: 5px;
          padding: 0.3rem .5rem;
          margin-left: 1.5rem;
          transition: all 0.3s; }
        header .nav-superior .nav-izquierdo .navbar button:hover {
          transform: scale(0.9); }
        header .nav-superior .nav-izquierdo .navbar button:active {
          transform: scale(1); }
    header .nav-superior .nav-derecho {
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      header .nav-superior .nav-derecho .buscador {
        position: relative;
        margin: 0 2rem; }
        header .nav-superior .nav-derecho .buscador img {
          height: 25px;
          position: absolute;
          left: 10px;
          top: 50%;
          transform: translateY(-50%);
          pointer-events: none; }
        header .nav-superior .nav-derecho .buscador input {
          border: none;
          outline: none;
          border-radius: 5px;
          padding: .5rem .3rem .5rem 2.5rem;
          transition: all .3s;
          font-size: 1rem; }
      header .nav-superior .nav-derecho .config {
        margin-right: 5rem; }
        header .nav-superior .nav-derecho .config a {
          margin: 0 .3rem; }
      header .nav-superior .nav-derecho .user-activo {
        padding: 0 1rem;
        cursor: pointer; }
        header .nav-superior .nav-derecho .user-activo img {
          height: 2.5rem;
          width: 2.5rem;
          object-fit: cover;
          border-radius: 50%;
          border: solid 3px #369A41; }
  header .nav-inferior {
    background-color: #D9D9D980;
    padding: .6rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #757575;
    margin-left: 60px; }
    header .nav-inferior .nav-inferior-izq {
      display: flex;
      align-items: center;
      transition: all .3s; }
      header .nav-inferior .nav-inferior-izq p {
        margin-right: 2rem;
        font-weight: bold; }
      header .nav-inferior .nav-inferior-izq .bxs-star {
        color: #757575;
        margin-right: 0.8rem;
        cursor: pointer;
        font-size: .9rem; }
      header .nav-inferior .nav-inferior-izq button {
        display: flex;
        align-items: center;
        padding: .1rem .6rem;
        background-color: #90AF92;
        color: #ffffff;
        border: none;
        border-radius: 4px;
        cursor: pointer; }
        header .nav-inferior .nav-inferior-izq button img {
          height: 0.8rem;
          margin-right: .8rem; }
        header .nav-inferior .nav-inferior-izq button .bx {
          margin-left: .8rem;
          font-size: .4rem; }
    header .nav-inferior .nav-move {
      transform: translateX(150px); }
    header .nav-inferior .nav-inferior-der {
      display: flex;
      align-items: center; }
      header .nav-inferior .nav-inferior-der .bxs-rocket {
        padding: 0.5rem; }
      header .nav-inferior .nav-inferior-der .bxs-bolt {
        padding: 0.5rem; }
      header .nav-inferior .nav-inferior-der p {
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: .8rem; }
        header .nav-inferior .nav-inferior-der p .bx-filter {
          padding: 0 .5rem;
          margin-left: 1rem; }
        header .nav-inferior .nav-inferior-der p .bxs-down-arrow {
          font-size: .6rem;
          padding: 0 .5rem; }
      header .nav-inferior .nav-inferior-der .avatars {
        display: flex;
        align-items: center;
        padding: 0 2rem; }
        header .nav-inferior .nav-inferior-der .avatars img {
          height: 2.3rem;
          width: 2.3rem;
          object-fit: cover;
          border-radius: 50%;
          margin: -.2rem;
          border: solid 1px #0000003c; }
      header .nav-inferior .nav-inferior-der .btn-compartir {
        display: flex;
        align-items: center;
        color: #ffffff;
        background-color: #90AF92;
        border: none;
        border-radius: 8px;
        padding: 0.2rem 1rem;
        cursor: pointer; }
        header .nav-inferior .nav-inferior-der .btn-compartir .bx-user-plus {
          margin-right: .3rem;
          font-size: 1.5rem; }
      header .nav-inferior .nav-inferior-der .bx-dots-horizontal-rounded {
        color: #90AF92;
        font-size: 1.5rem;
        padding: 0 .5rem;
        cursor: pointer; }

.nav-calendario {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem; }
  .nav-calendario .nav-calendario-izq,
  .nav-calendario .nav-calendario-der {
    display: flex;
    align-items: center; }
    .nav-calendario .nav-calendario-izq h3,
    .nav-calendario .nav-calendario-der h3 {
      margin-right: 15px;
      color: #90AF92; }
    .nav-calendario .nav-calendario-izq input,
    .nav-calendario .nav-calendario-der input {
      padding: 5px;
      margin-right: 10px;
      border: 1px solid #90AF92;
      border-radius: 5px; }
    .nav-calendario .nav-calendario-izq button,
    .nav-calendario .nav-calendario-der button {
      background-color: #90AF92;
      color: white;
      border: none;
      padding: 5px 10px;
      margin-right: 10px;
      border-radius: 5px;
      cursor: pointer; }
      .nav-calendario .nav-calendario-izq button.crear-evento,
      .nav-calendario .nav-calendario-der button.crear-evento {
        width: 30px;
        height: 30px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center; }
      .nav-calendario .nav-calendario-izq button.dropdown,
      .nav-calendario .nav-calendario-der button.dropdown {
        position: relative; }
        .nav-calendario .nav-calendario-izq button.dropdown::after,
        .nav-calendario .nav-calendario-der button.dropdown::after {
          content: "▼";
          font-size: 10px;
          margin-left: 5px; }
  .nav-calendario .nav-calendario-der .mes-control {
    font-size: 18px;
    margin-right: 10px; }
  .nav-calendario .nav-calendario-der .mes-indicador {
    font-size: 16px;
    margin-right: 10px;
    color: #90AF92; }
  .nav-calendario .nav-calendario-der .boton-extra {
    margin-right: 10px; }

#aside-container {
  width: 60px;
  background: #A3C8A5;
  margin-top: -60px;
  /* Despliegue del menu lateral */ }
  #aside-container .menu-lateral {
    color: #FFFFFF;
    display: flex;
    width: 60px;
    height: 100vh;
    position: relative;
    transition: all .3s; }
    #aside-container .menu-lateral .flecha-container {
      position: absolute;
      top: 41px;
      left: 40px;
      z-index: 999;
      transition: all .3s; }
      #aside-container .menu-lateral .flecha-container .desplegar {
        background: transparent;
        border: none; }
        #aside-container .menu-lateral .flecha-container .desplegar .flecha {
          width: 38px;
          height: 38px;
          cursor: pointer;
          transition: all .3s; }
    #aside-container .menu-lateral .aside {
      font-size: 1rem;
      text-align: center;
      position: absolute;
      left: 0px;
      top: -51px;
      width: 60px;
      overflow: hidden; }
      #aside-container .menu-lateral .aside .perfil {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: #FFFFFF;
        opacity: 0;
        transition: all .3s;
        margin-top: 55px;
        width: 180px; }
        #aside-container .menu-lateral .aside .perfil .usuario-img {
          width: 50px;
          width: 50px; }
        #aside-container .menu-lateral .aside .perfil .usuario-nombre {
          display: flex;
          flex-direction: column; }
          #aside-container .menu-lateral .aside .perfil .usuario-nombre p {
            font-size: 0.7rem;
            text-align: start; }
          #aside-container .menu-lateral .aside .perfil .usuario-nombre .nombre {
            font-size: .9rem; }
      #aside-container .menu-lateral .aside .opciones {
        margin-top: 0px;
        margin-left: 96px;
        background: #A3C8A5; }
        #aside-container .menu-lateral .aside .opciones ul {
          text-align: center;
          padding: 10px 0;
          align-items: center;
          display: flex;
          flex-direction: column; }
          #aside-container .menu-lateral .aside .opciones ul li {
            width: 200px;
            height: 30px;
            border: none;
            margin: 1px 0;
            cursor: pointer;
            display: flex;
            align-items: center;
            transition: all .3s; }
            #aside-container .menu-lateral .aside .opciones ul li a {
              display: flex;
              gap: 35px;
              text-align: center;
              color: #ffffff; }
              #aside-container .menu-lateral .aside .opciones ul li a img {
                width: 1rem;
                margin-left: 26px; }
              #aside-container .menu-lateral .aside .opciones ul li a .bx {
                font-size: 1.5rem;
                align-items: center;
                margin-left: 22px;
                color: #FFFFFF; }
          #aside-container .menu-lateral .aside .opciones ul li:hover {
            background: #90af92e6; }
        #aside-container .menu-lateral .aside .opciones .parrafo {
          margin-top: 10px;
          margin-left: -75px;
          font-size: .9em;
          opacity: 0;
          transition: all .3s; }
        #aside-container .menu-lateral .aside .opciones .parrafo-vistas {
          font-size: .9em;
          text-align: start;
          margin-left: -75px;
          width: 180px;
          opacity: 0;
          transition: all .3s; }
        #aside-container .menu-lateral .aside .opciones .parrafo-desarrollo {
          text-align: start;
          font-size: .9em;
          margin-left: -75px;
          opacity: 0;
          transition: all .3s; }
        #aside-container .menu-lateral .aside .opciones .final {
          margin-top: -3px; }
  #aside-container .menu-move {
    width: 200px;
    background-color: #A3C8A5; }
    #aside-container .menu-move .flecha-container {
      transform: translateX(140px); }
      #aside-container .menu-move .flecha-container .desplegar .flecha {
        transform: rotate(180deg); }
    #aside-container .menu-move .aside {
      overflow: visible; }
      #aside-container .menu-move .aside .perfil {
        opacity: 1;
        margin-left: 5px;
        width: 180px; }
        #aside-container .menu-move .aside .perfil p {
          font-size: .9rem; }
          #aside-container .menu-move .aside .perfil p span {
            font-size: 1rem;
            font-weight: 600; }
      #aside-container .menu-move .aside .opciones ul li {
        background-color: #90AF9259; }
      #aside-container .menu-move .aside .opciones .parrafo {
        opacity: 1; }
      #aside-container .menu-move .aside .opciones .parrafo-vistas {
        opacity: 1;
        width: 180px; }
      #aside-container .menu-move .aside .opciones .parrafo-desarrollo {
        opacity: 1; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif; }

body {
  height: 100vh;
  overflow: hidden; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }
